:root {
    --Soft-orange:hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}
html {
    box-sizing: border-box;
}
*,:before,:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--Off-white);
    
    min-height: calc(100vh - 100px);
}









.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }